/* HOME PAGE */
  /* ProductCard Component */
.sample-product-card .cover {
  background: rgb(0,0,0);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,1)), color-stop(29%, rgba(244,244,244,0)), to(rgba(0,0,0,0)));
  background: -o-linear-gradient(bottom, rgba(0,0,0,1) 0%, rgba(244,244,244,0) 29%, rgba(0,0,0,0) 100%);
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(244,244,244,0) 29%, rgba(0,0,0,0) 100%);
}

.sample-product-card {
  top: 0;
  transition: top linear 200ms;
}

.sample-product-card:hover {
  position: relative;
  top: -3vh;
}

.our-product-card:hover .our-product-card_title {
  color: var(--orange);
}

.our-product-card:hover .our-product-card_price {
  color: #000;
}

div.our-product-card_img {
  background-size: 100% 100%;
  transition: background-size linear 1s;
}

div.our-product-card_img:hover { background-size: 107% 107%; }