:root {
  font-family: '';
  --orange: rgba(255, 165, 0, 1);
  --orange-75: rgba(255, 165, 0, 0.75);
  --orange-50: rgba(255, 165, 0, 0.5);
}

.text-orange { color: var(--orange); }

.text-orange-75 { color: var(--orange-75); }

a.link-orange{ 
  background-color: var(--orange);
  color: #000;
}

.btn-orange {
  display: inline;
  background-color: var(--orange);
}

a.link-orange:hover { background-color: var(--orange-75); }

.bg-orange { background: var(--orange);}

.bg-orange-50 { background: var(--orange-75);}
