:root {
  font-family: '';
  --orange: rgba(255, 165, 0, 1);
  --orange-75: rgba(255, 165, 0, 0.75);
  --orange-50: rgba(255, 165, 0, 0.5);
}

.app::before {
  content: '';
  display: block;
  height: 40vh;
}

.text-orange { color: var(--orange); }

.text-orange-75 { color: var(--orange-75); }

a.link-orange{ 
  background-color: var(--orange);
  color: #000;
}

.btn-orange {
  display: inline;
  background-color: var(--orange);
}

a.link-orange:hover { background-color: var(--orange-75); }

.bg-orange { background: var(--orange);}

.bg-orange-50 { background: var(--orange-50);}

.bg-orange-75 { background: var(--orange-75);}

.clickable { 
  background-color: transparent;
  cursor: pointer; 
}

.clickable:hover { 
  background-color: var(--orange);
  border-radius: 10%;
}

.text-clickable { cursor: pointer;}

.lh-xlg { line-height: 3rem;}